@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

.app {
  width: 80%;
  margin: auto;
}

@theme {
  --color-items: #49557e;
}
