@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

.app {
  width: 80%;
  margin: auto;
}

@theme {
  --color-items: #49557e;
}

.active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

li {
  cursor: pointer;
}
